<div>
  <h2>Authenticate Face</h2>
  <div class="spinner-container">
    <div class="spinner">
        <!-- <button (click)="onBackClick()" class="button" [disabled]="isBackButtonDisabled">Go back</button> -->
        <button (click)="handleContinue()" class="button" [disabled]="isButtonDisabled">Continue detection</button>  
        <img src="assets/blue_spinner.gif" class="small-gif" *ngIf="isLogin">
        <div *ngIf="isLogin" style="color: #3498db;">{{ progressMessage }}</div>
    </div>
  </div>
  
  <div class="container">
    <app-face-camera (onPhotoTaken)="handlePhotoTaken($event)" (onError)="handleError($event)"></app-face-camera>
     <app-face-ui></app-face-ui>
  </div>
</div>


