<br><br>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="display-5">Register a new user</h3>
            </div>
            <div class="card-body">

                <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">

                    <div class="mb-3">
                        <label for="idNumber" class="form-label">Id Number</label>
                        <input type="text" formControlName="idNumber" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.idNumber.errors }" />
                        <span class="text-danger" 
                            *ngIf="(f.idNumber.touched || submitted) &&
                            f.idNumber.errors?.['required']">ID Number is required
                        </span>
                        <span class="text-danger"
                            *ngIf="f.idNumber.errors?.['invalidIdNumber'] && f.idNumber.touched">ID Number is Invalid
                        </span>
                    </div>

                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <span class="text-danger" 
                            *ngIf="(f.firstName.touched || submitted) &&
                            f.firstName.errors?.['required']">First Name is required
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <span class="text-danger" 
                            *ngIf="(f.lastName.touched || submitted) &&
                            f.lastName.errors?.['required']">Last Name is required
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email" />
                        <span class="text-danger" 
                            *ngIf="(f.email.touched || submitted) && f.email.errors?.['required']">Email is required
                        </span>
                        <span class="text-danger" 
                            *ngIf="f.email.touched && f.email.errors?.['email']">Enter a valid email address
                        </span>
                    </div>
                    
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" formControlName="userName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                        <span class="text-danger" 
                            *ngIf="(f.userName.touched || submitted) &&
                            f.userName.errors?.['required']">UserName is required
                        </span>
                    </div>

                    



                    <div align="right">
                        <button type="submit" class="btn btn-success">Register</button>
                        <button type="reset" class="btn btn-danger ms-2" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>