<br><br>
<div class="row" *ngIf="showRegistration">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="display-5">Register a new user</h3>
            </div>
            <div class="card-body">

                <form [formGroup]="userRegistrationForm" (ngSubmit)="registerUser()">

                    <div class="mb-3">
                        <label for="idNumber" class="required" style="text-align: left;">Id Number</label>
                        <input type="text" formControlName="idNumber" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.idNumber.errors }"
                            placeholder="Enter your ID Number " />
                        <span class="text-danger"
                            *ngIf="(f.idNumber.touched || submitted) && f.idNumber.errors?.['required']">
                            ID Number is required
                        </span>
                        <span class="text-danger" *ngIf="f.idNumber.errors?.['invalidIdNumber'] && f.idNumber.touched">
                            ID Number is Invalid
                        </span>
                    </div>


                    <div class="mb-3">
                        <label for="firstName" class="required">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                            placeholder="Enter your First Name " />
                        <span class="text-danger" *ngIf="(f.firstName.touched || submitted) &&
                            f.firstName.errors?.['required']">First Name is required
                        </span>
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="required">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                            placeholder="Enter your Last Name " />
                        <span class="text-danger" *ngIf="(f.lastName.touched || submitted) &&
                            f.lastName.errors?.['required']">Last Name is required
                        </span>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="required">Email</label>
                        <input type="text" class="form-control" formControlName="email"
                            placeholder="Enter your email address" />
                        <span class="text-danger"
                            *ngIf="(f.email.touched || submitted) && f.email.errors?.['required']">
                            Email is required
                        </span>
                        <span class="text-danger" *ngIf="f.email.touched && f.email.errors?.['email']">
                            Enter a valid email address
                        </span>
                    </div>


                    <div class="mb-3">
                        <label for="userName" class="required">Username</label>
                        <input type="text" formControlName="userName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
                            placeholder="Enter your Username " />
                        <span class="text-danger" *ngIf="(f.userName.touched || submitted) &&
                            f.userName.errors?.['required']">UserName is required
                        </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger">
                            Reset <i class="fas fa-times"></i>
                        </button>
                        <button type="submit" class="btn btn-success ms-auto">
                            Register <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- your-component.component.html -->
<div class="row" *ngIf="showCamera">
    <div class="col-md-6">
        <app-face-auto-capture (onPhotoTaken)="handlePhotoTaken($event)" (onError)="handleError($event)">
        </app-face-auto-capture>
    </div>

    <div class="col-md-6" *ngIf="imageUrl">
        <h1 ng-style="{color: imageUrl ? 'black' : 'grey'}">Captured Face</h1>
        <br>
        <br>
        <div *ngIf="!imageUrl && showSpinner">           
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="!imageUrl && !showSpinner">
            <img src="assets/placeholder_face.png" alt="image">
        </div>
        <div *ngIf="imageUrl">
            <app-result [imageUrl]="imageUrl"></app-result>
        </div>
        
    </div>
</div>
