<div>
    <a [routerLink]="['../login']">Go to Login</a>
    <mat-card>
      <mat-card-title>New User Registion</mat-card-title>
      <br>
  
      <mat-card-content>
        <form (ngSubmit)="createCustomer()">

            <mat-form-field class="mat-form-field" >
                <mat-label>ID Number</mat-label>
                <input matInput formControlName="ID Number" />                
            </mat-form-field>

            <br>
            <mat-form-field class="mat-form-field" >
                <mat-label>First Name</mat-label>
                <input matInput formControlName="FirstName" />                
            </mat-form-field>

            <br>

            <mat-form-field class="mat-form-field">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="LastName" />                
            </mat-form-field>

            <br>

            <mat-form-field class="mat-form-field">
                <mat-label>Email</mat-label>
                <input matInput formControlName="Email" />                
            </mat-form-field>

            <br>

            <mat-form-field class="mat-form-field">
                <mat-label>Username</mat-label>
                <input matInput formControlName="Username" />                
            </mat-form-field>

            <br>          

            <button mat-raised-button color="primary" type="submit">Register</button>
  
        </form>
      </mat-card-content>
  
    </mat-card>
  </div>


<br/>
<div *ngIf="canDisplayCamera">
<app-face-auto-capture (onPhotoTaken)="handlePhotoTaken($event)" (onError)="handleError($event)">
</app-face-auto-capture>

<br>
<div>
    <app-result *ngIf="showImage" [imageUrl]="imageUrl"></app-result>
</div>

</div>