<nav>
  <div class="logo">
    <img src="assets/ednaLogo.png" alt="Company Logo">
    <!-- <span class="title">eDNA Lite</span> -->
  </div>
  <div class="links">
    <a routerLink="/home" *ngIf="!authService.isAccountLocked">Home</a>
    <a routerLink="/registration" *ngIf="!authService.isAccountLocked">Registration</a>
    <a routerLink="/login" *ngIf="(!authService.session && !authService.isAccountLocked)">Authenticate</a>
    <a routerLink="#" (click)="authService.logout()"
      *ngIf="(authService.session&& !authService.isAccountLocked)">Logout</a>
  </div>

</nav>
<alert></alert>
<router-outlet></router-outlet>